/**
 * @package		Joomla & QuickForm
* @Copyright ((c) plasma-web.ru
        */
.qf3form.default {
  padding: 4em 0;
  background: #fff;
  box-sizing: border-box;
}

.qf3form.default input,
.qf3form.default label,
.qf3form.default select {
  margin: 0;
}

.qf3form.default .qf3 {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1.4em 0;
}

.qf3form.default .qf3label {
  display: inline-block;
  margin: 0.3em 0;
  padding: 0 1em 0 0;
  line-height: 1.2em;
  text-align: right;
  width: 38%;
}

.qf3form.default .qf3txt input,
.qf3form.default select {
  box-sizing: border-box;
  width: 38%;
  max-width: 38%;
  height: 2.4em;
  background: #fff;
  padding: 2px 0 2px 7px;
}

.qf3labelreq {
  padding-left: 0.3em;
}

/*modal form*/
.qfoverlay {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  z-index: 9990;
}

.qfmodalform {
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  width: 62%;
  margin-left: -31%;
  z-index: 9999;
}

.qfmodalform div.qf3form {
  padding: 4em;
  width: 100%;
}

.qfclose {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
  width: 18px;
  cursor: pointer;
  color: #000000;
  font-size: 18px;
}

/*ajax form*/
.qfsubmitformres {
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.qfsubmitformresclose {
  position: absolute;
  color: #ff0000;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}

/* radio */
.qf3form.default .radioblok {
  display: inline-block;
}

.qf3form.default .qfradio.vertically .qf3label {
  vertical-align: top;
  margin: 0;
}

.qf3form.default .qfradio.vertically .radioblok label {
  display: block;
  white-space: nowrap;
  margin-top: -0.5em;
  margin-left: 1.6em;
  line-height: 0;
  height: 1em;
  margin-bottom: 0.3em;
}

.qf3form.default .qfradio.horizontally .radioblok label {
  display: inline-block;
  white-space: nowrap;
  margin: 0 1em 0 0.5em;
}

.qf3form.default .qfradio.vertically .radioblok input {
  display: block;
}

.qf3form.default .qfradio.horizontally .radioblok input {
  vertical-align: middle;
}

/* textarea */
.qf3form.default textarea {
  height: 260px;
  box-sizing: border-box;
  width: 50%;
  vertical-align: top;
  padding: 2px 0 2px 7px;
}

/* checkbox */
.qf3form.default .qfcheckbox input,
.qf3form.default .qfbackemail input {
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.qf3form.default .chbxlabel {
  display: inline-flex;
  line-height: 1.2em;
}

/* hidden */
.qf3form.default .qfhidden {
  display: none;
}

/* file */
.qf3form.default .qffile input {
  max-width: 38%;
  display: inline-block;
  background: #fdf3f3;
  border: 0;
  padding: 0.3em;
}

.qf3form.default .filelabel {
  padding-left: 1em;
}

/* recaptcha */
.qf3form.default .qf_recaptcha {
  display: inline-block;
  transform-origin: left top;
  -webkit-transform-origin: left top;
}

/* link */
.qf3form.default .qfcapt {
  text-align: right;
}

.qf3form.default .qfcapt a {
  color: #CCC;
  font-size: 10px;
  padding: 1em 2em;
}

.nfl {
  display: none;
}

/* qfcalculatorsum */
.qf3form.default .qfcalculatorsum {
  font-size: 1.5em;
}

.qf3form.default .qfcalculatorsum .qf3label {
  display: inline-block;
}

.qf3form.default .qfpriceinner {
  margin-right: 0.3em;
}

.qf3form.default .qfunitinner {
  margin-right: 2px;
}

/* cloner vertically */
.qf3form.default .qfcloner.vertically>.qfclonerrow {
  position: relative;
  border: 1px solid #CCC;
  padding: 2em 0;
  margin: 5px;
}

.qf3form.default .vertically>.qfclonerrow>.qfadd,
.qf3form.default .vertically>.qfclonerrow>.qfrem,
.qf3form.default .vertically>.qfclonerrow>.qfclonesum {
  position: absolute;
  top: 5px;
  width: 2em;
  height: 2em;
  padding: 0;
  text-align: center;
}

.qf3form.default .vertically>.qfclonerrow>.qfadd {
  right: 3em;
}

.qf3form.default .vertically>.qfclonerrow>.qfrem {
  right: 1em;
}

.qf3form.default .vertically>.qfclonerrow>.qfclonesum {
  right: 6em;
  width: auto;
  text-align: right;
}

.qf3form.default .vertically>.qfclonerrow>.qfadd a {
  color: #00F;
  font-size: 2em;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.qf3form.default .vertically>.qfclonerrow>.qfrem a {
  color: #F00;
  font-size: 1.8em;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* cloner horizontally */
.qf3form.default td.qfadd,
.qf3form.default td.qfrem {
  width: 1em;
  text-align: center;
}

.qf3form.default td.qfadd a {
  color: #00F;
  font-size: 1.8em;
  display: block;
  text-decoration: none;
  width: 1em;
  height: 1em;
}

.qf3form.default td.qfrem a {
  color: #F00;
  font-size: 1.8em;
  display: block;
  text-decoration: none;
  width: 1em;
  height: 1em;
}

.qf3form.default .qfcloner.horizontally table {
  width: 98%;
  margin: 5px 1%;
  border: 1px solid #ccc;
}

.qf3form.default .qfcloner.horizontally table td,
.qf3form.default .qfcloner.horizontally table th {
  vertical-align: top;
  padding: 3px;
}

.qf3form.default td.qfadd,
.qf3form.default td.qfrem {
  width: 1em;
  text-align: center;
}

.qf3form.default .qfcloner.horizontally .qf3label {
  display: block;
  text-align: left;
  width: 100%;
}

.qf3form.default .qfcloner.horizontally .qf3txt input,
.qf3form.default .qfcloner.horizontally select {
  width: 100%;
  max-width: 100%;
}

/*qftabs*/
.qf3form.default .qftabs {
  margin: 10px;
}

.qf3form.default .qftabsitemlabel {
  cursor: pointer;
  border: 1px solid #c3c1c3;
  padding: 5px;
}

.qf3form.default .qftabsitem {
  border: 1px solid #c3c1c3;
  padding: 10px;
}

.qf3form.default .qftabs.vertically {
  display: flex;
}

.qf3form.default .vertically .qftabactiv {
  border-right: 0;
  background: #fff;
  position: relative;
  margin-right: -1px;
}

.qf3form.default .vertically .qftabslabelsbox {
  width: 38%;
}

.qf3form.default .vertically .qftabsitem {
  width: 62%;
}

.qf3form.default .horizontally .qftabslabelsbox {
  display: flex;
}

.qf3form.default .horizontally .qftabactiv {
  border-bottom: 0;
  background: #fff;
  position: relative;
  margin-top: -4px;
  top: 1px;
}

/* qf_number */
.qf3form.default .qfstepper_inner {
  display: inline-block;
  max-width: 120px;
  width: 100%;
  position: relative;
}

.qf3form.default .qfstepper input[type="number"] {
  width: 100%;
  height: 2.4em;
  padding: .375rem .75rem;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  -moz-appearance: textfield;
}

.qf3form.default .qfstepper input[type="number"]:focus {
  outline: 0;
}

.qf3form.default .qfstepper button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  outline: none;
  border: 1px solid #c4c4c4;
  background: #fff;
  height: 50%;
  font-size: 1.1em;
  line-height: 0;
  transition: all ease 0.25s;
}

.qf3form.default .qfstepper button:hover {
  background-color: #f3f3f3;
}

.qf3form.default .qfstepper input::-webkit-inner-spin-button,
.qf3form.default .qfstepper input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.qf3form.default .qfstepper.vertically input {
  padding-right: 3.25rem;
}

.qf3form.default .qfstepper.vertically .stepper__controls {
  position: absolute;
  right: 0;
  top: 0;
  bottom: -1px;
  display: flex;
  flex-direction: column;
  width: 2.5rem;
  z-index: 1;
}

.qf3form.default .qfstepper.vertically .qfup {
  margin-bottom: -1px;
}

.qf3form.default .qfstepper.horizontally input {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  text-align: center;
}

.qf3form.default .qfstepper.horizontally button {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: -1px;
  width: 2.5rem;
  z-index: 1;
}

.qf3form.default .qfstepper.horizontally .qfup {
  right: 0;
  margin-left: -1px;
}

.qf3form.default .qfstepper.horizontally .qfdown {
  left: 0;
  margin-right: -1px;
}

/* qf_range */
.qf3form.default .qfslider_inner {
  width: 38%;
  position: relative;
  display: inline-block;
  margin: 2em 0;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 75%;
}

.qf3form.default .qfslider .slider_min {
  position: absolute;
  left: 0;
}

.qf3form.default .qfslider .slider_max {
  position: absolute;
  right: 0;
}

.qf3form.default .qfslider .slider_chosen {
  position: absolute;
  top: -1.6em;
  width: 26px;
  text-align: center;
  margin-left: 13.5px;
}

.qf3form.default .qfslider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  height: 1px;
  padding: 0;
  box-shadow: none;
  display: inline;
  box-sizing: border-box;
  margin-left: -5px;
}

.qf3form.default .qfslider input[type=range]:focus {
  outline: none;
}

.qf3form.default .qfslider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #807a7a;
  border: 0;
}

.qf3form.default .qfslider input[type=range]::-webkit-slider-thumb {
  border: 1px solid #918e8e;
  ;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}

.qf3form.default .qfslider input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #807a7a;
  border: 0;
}

.qf3form.default .qfslider input[type=range]::-moz-range-thumb {
  border: 1px solid #918e8e;
  ;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
}

.qf3form.default .qfslider input[type=range]::-moz-focus-outer {
  border: 0;
}

.qf3form.default .qfslider input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.qf3form.default .qfslider input[type=range]::-ms-fill-lower,
.qf3form.default .qfslider input[type=range]::-ms-fill-upper {
  background: #807a7a;
  border: 0;
}

.qf3form.default .qfslider input[type=range]::-ms-thumb {
  border: 1px solid #918e8e;
  ;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
  height: 1px;
}

/* qf_checkbox */
.qf3form.default .qf_checkbox {
  margin-bottom: 1em;
}

.qf3form.default .qf_checkbox .qf3label {
  margin: 1.8em 0 0 0;
}

.qf3form.default .qf_checkbox .qfempty {
  margin: 0;
}

.qf3form.default .qf_checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.qf3form.default .qf_checkbox .chbxlabel {
  position: relative;
  padding: 0.5em 0 0 5em;
  cursor: pointer;
}

.qf3form.default .qf_checkbox .chbxlabel:before {
  content: '';
  position: absolute;
  top: -0.6em;
  left: 0;
  width: 3.7em;
  height: 1.8em;
  border: 0;
  border-radius: 1em;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  transition: .2s;
}

.qf3form.default .qf_checkbox .chbxlabel:after {
  content: '';
  position: absolute;
  top: -0.5em;
  left: 0.1em;
  width: 1.6em;
  height: 1.5em;
  border: 0;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .2s;
}

.qf3form.default .qf_checkbox input:checked+.chbxlabel:before {
  background: #dfffd1;
}

.qf3form.default .qf_checkbox input:checked+.chbxlabel:after {
  left: 2em;
}

/* compact */
.qf3form.default .compact .qf3label {
  width: 100%;
  text-align: left;
}

.qf3form.default .compact .qfcalculatorsum .qf3label,
.qf3form.default .compact .chbxlabel {
  display: inline;
}

.qf3form.default .compact .qf3txt input,
.qf3form.default .compact .qfsubmit input,
.qf3form.default .compact textarea,
.qf3form.default .compact .qfslider_inner,
.qf3form.default .compact select {
  width: 100%;
  max-width: 100%;
}
.qf3form.default .compact .qf_checkbox .qf3label {
  margin-bottom: 1em;
}
