.qf_cart_box {
    text-align: right;
    cursor: pointer;
    height: 24px;
    color: red;
    padding-right: 10px;
}

.qf_cart_box:hover {
    color: rgb(43, 139, 181)
}

.qf_cart_box img {
    height: 100%;
}

.qf_cart_box span {
    display: inline-block;
    margin-left: 7px;
    height: 100%;
    vertical-align: middle;
    font-size: 120%;
}

.qf_cart_pcs {
    color: rgba(55, 89, 145, 0.8);
}

#qfshuttle {
    position: fixed;
    z-index: 9994;
    bottom: 5%;
    right: 0px;
    opacity: 0.8;
    text-align: right;
    cursor: pointer;
    height: 4em;
    color: red;
    border: 1px solid #0d62f270;
    padding: 14px;
    border-radius: 50px 0 0 50px;
    border-width: 1px 0 1px 2px;
    background-color: #ffffff;
}

#qfshuttle img {
    height: 100%;
}

#qfshuttle span {
    display: inline-block;
    margin-left: 7px;
    height: 100%;
    font-size: 120%;
}

/*big cart */
.qfcartoverlay {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #b4b4b4;
    opacity: 0.9;
    z-index: 9995;
}

.qfcartform, .atch_box {
    padding: 20px 40px;
    border: 2px solid #ececec;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 12%;
    width: 76%;
    z-index: 9995;
}

.qfcartforminner {
    padding: 50px 0;
}

.qf_cart_empty {
    display: block;
    border: 1px solid #adf9ff;
    padding: 80px;
}

.qfcartclose {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #644c4c;
    font-size: 2em;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 30px;
    line-height: 0;
}

.qfcartclose:hover {
    color: #a29494
}

.qfcartform table {
    border: 0;
    width: 100%;
}

.qfcartform td {
    padding-top: 10px;
    border-bottom: 1px solid #bfcfdb;
    min-width: 20px;
}

.qfcartform td.qf_td_2 img {
    width: 90%;
    border: 1px solid rgba(42, 94, 134, 0.71);
}

.qfcartform table input {
    width: 100%;
    min-width: 32px;
    max-width: 80px;
    margin: 0;
    padding: 5px;
    font-size: 110%;
}

.qfcartform td.qf_td_3 {
    width: 38%;
}

.qfcartform ul {
    font-size: 90%;
    margin: 0 0 1.5em 12px;
    padding: 0 0 0 12px;
}

.qf_td_4, .qf_td_6 {
    white-space: nowrap;
    padding: 0 5px;
}

.qfcartform td.qf_td_1 span {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    line-height: 0;
    font-size: 1.6em;
    color: #ff0000;
}

.qfcartform td.qf_td_1 span:hover {
    color: #705959;
}

.qf_cart_discount {
    padding: 20px;
    background: #f0fcff;
    margin: 60px 0 20px;
}

.discount_mess {
    padding-bottom: 10px;
    font-size: 110%;
}

.discount_inp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.discount_inp label, .discount_inp input {
    display: block;
}

.discount_inp input[type=button].enabled {
    background: #b4f6af;
}

.discount_inp input[type=button] {
    border-radius: 20px;
    border: 1px solid #8bb9f8;
    padding: 3px 20px;
    background: #f1fff0;
    font-size: 90%;
    outline: none;
}

.discount_inp input[type=button]:hover {
    background: #fff;
}

.qf_cart_foot {
    display: table;
    width: 100%;
    margin-top: 80px;
}

.qf_cart_foot_l, .qf_cart_foot_r {
    display: table-cell;
}

#qf_contacts {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 80px;
    background-color: rgb(255, 255, 255);
    display: none;
}

.qf_contacts_inner {
    position: absolute;
    left: 50%;
    top: 150px;
    width: 600px;
    margin-left: -300px;
}

.qf_cart_foot div.qf3form {
    width: 100%;
    padding: 0;
}

.qf_cart_foot div.qf3form .qf3label {
    text-align: left;
    padding: 0 20px 0 0;
    display: block;
    width: 100%;
    line-height: 100%;
}

.qf_cart_foot div.qf3form textarea {
    height: 100px;
    width: 100%;
    max-width: 500px;
    padding: 5px;
}

.qf_cart_foot div.qf3form select, .qf_cart_foot div.qf3form .qftext input, .qf_cart_foot div.qf3form .qfdate input, .qf_cart_foot div.qf3form .qfemail input, .qf_cart_foot div.qf3form .qfnumber input, .qf_cart_foot div.qf3form .qfrange input, .qf_cart_foot div.qf3form .qftel input, .qf_cart_foot div.qf3form .qfurl input {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    font-size: 110%;
    height: 2em;
    box-sizing: border-box;
}

.qf_cart_foot div.qf3form .vertically .radioblok label {
    display: block;
    white-space: nowrap;
    margin-top: -1.5em;
    margin-left: 20px;
}

.qf_cart_foot div.qf3form .vertically .radioblok input {
    vertical-align: middle;
}

.qf_cart_foot div.qf3form .qfcalculatorsum {
    display: none;
}

.qf_cart_foot .qfpriceinner {
    margin: 0 10px;
}

#qf_resultprice div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.qf_cart_foot_r label {
    flex-grow: 6;
    overflow: hidden;
}

.qf_cart_foot_r label::after {
    display: inline-block;
    margin-left: 15px;
    width: 0;
    content: "................................................................................................................................................................................................................................................................................................................................................";
    white-space: nowrap;
    color: #343434;
}

.qf_cart_foot_r .total {
    font-weight: bold;
}

.qf_cart_btn {
    margin-top: 20px;
}

.nfl {
    display: none;
}

.qfcapt {
    text-align: right;
}

.qfcapt a {
    color: #CCC !important;
    font-size: 10px !important;
}

@media only screen and (max-width: 768px) {
    .qf_cart_foot_l, .qf_cart_foot_r {
        display: block;
    }

    .qf_cart_foot {
        display: block;
    }
}

.atch {
    display: inline-block;
}

.atch a {
    color: #058cfa;
}

.atch i {
    color: #427fa3;
    margin-right: 5px;
    font-size: 1em;
}

.atch_box_inner,
.qfcartforminner,
.qf_contacts_inner {
    max-width: 1000px;
    margin: 0 auto;
}

.atch_box a {
    color: #058cfa;
}

.atch_title {
    font-size: 150%;
    padding-bottom: 20px;
}

.atch_area {
    background: #e6ffff;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.filelisting div {
    position: relative;
    margin: 10px;
    background: #f4f4f4;
}

.filelisting a {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.filelisting img {
    width: 100%;
    height: 100%;
}

.imgtdel {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.imgtdel:hover {
    color: #f00;
}

.atch_links {
    padding: 20px 0;
}

.atch_links_title {
    padding: 10px 0;
}

.atch_link {
    display: flex;
    margin-bottom: 5px;
}

.atch_link input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.atch_link a {
    display: block;
    color: red;
    margin-left: 10px;
    padding-top: 6px;
    text-decoration: none;
}

.atch_link_more a {
    margin-top: 5px;
    display: inline-block;
}

.atch_link a:hover {
    color: #3c2727;
}

.atch_coment_title {
    padding: 0 0 10px 0;
}

.atch_coment textarea {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
}

.atch_btns {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.atch_btns a, .qfcartsubmit {
    display: inline-block;
    padding: 5px 20px;
    margin-right: 40px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #fff;
    color: #2199fa;
    outline: 0;
}

.atch_btns a:hover, .qfcartsubmit:hover {
    color: #1c1f21;
}

.atch_message {
    color: #ff0000;
}

@media screen and (max-width: 770px) {
    .qfcartform, .atch_box {
        width: 96%;
        left: 2%;
    }
}
